@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.container {
	margin: 100px;
	max-width: 1000px;
}

header {
	display: flex;
}

header h1, header section > h2 {
	margin-top: 0;
}

header h1 {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: -0.045em;

	color: #000000;
	width: 50%;
	margin-bottom: 40px;
}

header section {
	width: 35%;
	word-wrap: break-word;
}

section h2, section p {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 27px;
	color: #000000;
}

section h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
}

section p {
	font-weight: normal;
}

main .team {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px 50px;
	justify-content: space-between;
	margin: 70px 0 100px 0;
}

.team .card {
	position: relative;
	margin: 0 0 10px 0;
}

.card img {
	width: 90%;
}

.card p {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	margin-top: 15px;

	color: #000000;
}

.card p.card-role {
	position: absolute;
	width: 120px;
	top: -15px;
	right:-20px;

	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;

	text-transform: uppercase;

	color: #000000;

	transform: translate(82%) rotate(90deg);
    transform-origin: 0% 0%;
}

footer {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #A9A9A9;
}

footer p > a {
	text-decoration: none;
	color: inherit;
}

@media screen and (min-width: 850px) {
	.team .card:nth-child(3n-1) {
		margin-top: 100px;
	}

	.team .card {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 849px) {
	.container {
		margin: 20px;
	}

	header {
		display: block;
	}

	header h1, header section {
		width: 100%;
	}

	main .team {
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
	}

	.card p:first-child {
		margin-bottom: 0;
	}

	.team .card:nth-child(2n) {
		margin-top: 100px;
	}
}

@media screen and (max-width: 500px) {
	.card img {
		width: 85%;
	}
}


